html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')       
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'
        integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
        title='Productos'
    body
    
        block form
            h1(style="color:blue;")='Ingrese producto(s)'
            br
            form(action="products" method="post")
                div(class="form-group")
                    label(for="title") 
                    b="Nombre"    
                    input(id="title" class="form-control" type="text" name="title")        
                    div(class="form-group")
                    label(for="price")
                    b="Precio"    
                    input(id="price" class="form-control" type="text" name="price")        
                    div(class="form-group")
                    label(for="thumbnail")    
                    b="Foto URL"    
                    input(id="thumbnail" class="form-control" type="text" name="thumbnail")    
                    button(class="btn btn-success mt-3 mb-5")="Enviar"


            a(class="btn btn-success mt-3 mb-5" href="/products/historial")="Ver productos"